 .App {
     font-family: sans-serif;
     text-align: center;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .mainBox {
     margin: 20px;
     /* border: 1px solid; */
     width: max-content;
 }

 .row {
     display: flex;
 }

 .cell {
     border: 1px solid;
     height: 50px;
     width: 50px;
     font-size: 30px;
 }